{% load static %}
<!DOCTYPE html>

<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!-- Bootstrap -->
        <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" media="screen">
        <link href="{% static 'css/hoverex-all.css' %}" rel="stylesheet">
        <link href="{% static 'css/custom.css' %}" rel="stylesheet">

        <title>Victor Semerdjiev{% block title %}{% endblock %}</title>
    </head>

    <body>
        <div class="navbar navbar-default navbar-fixed-top">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
              <span class="navbar-brand"><img width="154" height="40" src="http://i1318.photobucket.com/albums/t659/victorgse/victorgse-logo-cropped_zps88ffa134.png"></span>
          </div>
          <div class="navbar-collapse collapse navbar-responsive-collapse">
            <ul class="nav navbar-nav">
              <li><a class="navbar-brand" href="#">About</a></li>
              <li><a class="navbar-brand" href="/#projects">Projects</a></li>
              <li><a class="navbar-brand" href="https://www.dropbox.com/s/mcuy0c846b29f7z/Victor%20Semerdjiev%20-%20Resume.pdf">CV</a></li>
            </ul>
          </div>
        </div>

        <div>
            {% block body_block %}{% endblock %}
        </div>

        <script src="{% static 'js/jquery-2.1.0.min.js' %}"></script>
        <script src="{% static 'js/bootstrap.min.js' %}"></script>
        <script src="{% static 'js/jquery.hoverex.min.js' %}"></script>
        <script src="http://cdnjs.cloudflare.com/ajax/libs/gsap/latest/TweenMax.min.js"></script>
        <script type="text/javascript" src="{% static 'js/jquery.scrollmagic.min.js' %}"></script>
        <script src="{% static 'js/victorgse-jquery.js' %}"></script>

        <script>
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
          ga('create', 'UA-49611830-1', 'victorgse.com');
          ga('require', 'displayfeatures');
          ga('send', 'pageview');
        </script>

    </body>

    <footer class="navbar navbar-default navbar-fixed-bottom">
        <div class="container-fluid">
            <a class="navbar-brand">&copy; 2014 Victor Semerdjiev</a>
        </div>
    </footer>
</html>