{% extends 'victorgse/base.html' %}

{% load static %}

{% block body_block %}

    <div class="pull-left" style="padding-left: 60px; padding-top: 95px;">
        <img class="img-thumbnail" width="220" height="330" src="{% static "imgs/VictorSemerdjiev.jpg" %}" />
    </div>

    <div class="text-center" style="padding-top: 160px;">
        <h1>Victor Semerdjiev</h1>
        <h3>Postgraduate Student at The University of Glasgow</h3>
        <h3>(MSc in Information Technology)</h3>
    </div>

    <div class="text-center" style="padding-top: 95px;">
        <h3> Contact Information </h3>
        <h4>
        <script src="//platform.linkedin.com/in.js" type="text/javascript"></script>
        <script type="IN/MemberProfile" data-id="http://www.linkedin.com/in/victorsemerdjiev" data-format="hover" data-text="Victor Semerdjiev" data-related="false"></script>
        </h4>
        <h4>victorgse [at] gmail [.] com</h4>
    </div>

    <br>
    <br>

    <section id="parallax">
        <div id="parallaxbg">
        </div>
    </section>

    <a id="projects"></a>

    <br>
    <br>
    <h2 class="text-center">These are some of the projects I have worked on...</h2>
    <br>
    <br>
    <br>

    <div class="project-container">

        <div class="he-wrap tpl6">
		    <img width="440" height="220" src="{% static "imgs/Laughtr.png" %}" alt="">
		    <div class="he-view">
			    <div class="bg a0" data-animate="fadeIn">
				    <h3 class="a3" data-animate="fadeInDown">Laughtr</h3>
                    <p class="a3" data-animate="fadeIn">Developed in Python/Django. A website matching comedians with venues.</p>
				    <a href="http://davidrussell.pythonanywhere.com/laughtr/" class="btn btn-info glyphicon glyphicon-link dmbutton a3" data-animate="fadeInUp"></a>
			    </div>
		    </div>
	    </div>

        <div class="he-wrap tpl6">
		    <img width="440" height="220" src="{% static "imgs/RiceRocks.png" %}" alt="">
		    <div class="he-view">
		    	<div class="bg a0" data-animate="fadeIn">
				    <h3 class="a3" data-animate="fadeInDown">RiceRocks</h3>
                    <p class="a3" data-animate="fadeIn">Developed in Python for CodeSkulptor. Remake of the iconic video game Asteroids.</p>
				    <a href="http://www.codeskulptor.org/#user29_oDDtLHsI6F_0.py" class="btn btn-info glyphicon glyphicon-link dmbutton a3" data-animate="fadeInUp"></a>
			    </div>
		    </div>
	    </div>

        <div class="he-wrap tpl6">
		    <img width="440" height="220" src="{% static "imgs/JavaBall.png" %}" alt="">
		    <div class="he-view">
			    <div class="bg a0" data-animate="fadeIn">
				    <h3 class="a3" data-animate="fadeInDown">JavaBall</h3>
                    <p class="a3" data-animate="fadeIn">Developed in Java. Manages and processes results of a sports tournament.</p>
				    <a href="#" class="btn btn-info glyphicon glyphicon-link dmbutton a3" data-animate="fadeInUp"></a>
			    </div>
		    </div>
	    </div>

    </div>

    <br>
    <br>
    <br>
    <br>
    <br>
    <br>

{% endblock %}
