.navbar-fixed-top {
    height: 60px; /* Whatever you want. */
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus{color:#2493d1;background-color:transparent}

.navbar-default .navbar-nav > li {padding-top: 10px}

#parallax {
height: 400px;
position: relative;
overflow: hidden;
}

#parallax #parallaxbg {
position: absolute;
height: 400px;
top: 50%;
width: 100%;
margin-top: -150px;
background-image: url("../imgs/cool-background.jpg");
background-size: cover;
}

.tpl6
{
	display: inline-block
}

.tpl6 .bg
{
	height:100%;
	width:100%;
	background-color:#00b3fe;
	background-color:rgba(0,179,254,.9);
	text-align:center;
}

.tpl6 h3
{
	margin:0;
	padding:15px 5px 0;
	font-size:36px;
}

.tpl6 p
{
	margin:0;
	padding:25px 5px 0;
	font-size:18px;
}

.tpl6 .dmbutton
{
	display:inline-block;
	margin:30px 5px 20px 5px;
}

.project-container {
    text-align: center
}

#parallax2 {
height: 400px;
position: relative;
overflow: hidden;
}

#parallax2 #parallaxbg2 {
position: absolute;
height: 400px;
top: 50%;
width: 100%;
margin-top: -150px;
background-image: url("../imgs/whdb-background.jpg");
background-size: cover;
}

#map-canvas {
    height: 390px;
    width: 915px;
}